<script type="text/x-handlebars-template">
    {{#if options.label}}
    <div class="alpaca-field-dateexpanded__label">{{{options.label}}}</div>
    {{/if}}

    <div class="alpaca-field-dateexpanded__content">
        <div class="mdl-selectfield mdl-js-selectfield mdl-selectfield--floating-label">
            <select id="{{id}}-month" class="mdl-selectfield__select">
                <option value=""></option>
                <option value="1">January</option>
                <option value="2">February</option>
                <option value="3">March</option>
                <option value="4">April</option>
                <option value="5">May</option>
                <option value="6">June</option>
                <option value="7">July</option>
                <option value="8">August</option>
                <option value="9">September</option>
                <option value="10">October</option>
                <option value="11">November</option>
                <option value="12">December</option>
            </select>
            <div class="mdl-selectfield__icon"><i class="material-icons">arrow_drop_down</i></div>
            <label class="mdl-selectfield__label" for="{{id}}-month">Month</label>
        </div>
        <div class="alpaca-field-dateexpanded__day">
            <input type="text" id="{{id}}-day" class="mdl-textfield__input"/>
            <label for="{{id}}-day" class="mdl-textfield__label">Day</label>
        </div>
        <div class="alpaca-field-dateexpanded__year">
            <input type="text" id="{{id}}-year" class="mdl-textfield__input"/>
            <label for="{{id}}-year" class="mdl-textfield__label">Year</label>
        </div>
    </div>
</script>